.task-list-box {
  border: 1px solid #000;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #023047;
  display: flex;
  justify-content: center;
}
.task-list {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}
table {
  width: 100%;
}
table tr:nth-child(even) {
  width: 100%;
  background-color: #ffb703;
  color: #fff;
}
